.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 120px;
}

.nav-container {
  padding: 0px 20px;
}

.nav-container > ul {
  display: flex;
  list-style-type: none;
}

.nav-container > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.search {
  padding: 10px;
}